*{
padding: 0;
margin: 0;
font-family:'Didact Gothic', sans-serif;	
}

.general{
width: 100%;
height: auto;
/*background-color: 	brown;*/
}
.banner1{
width: 100%;
height: auto;
	background-color: #EBA421;
}
.banner1 img{
width: 100%;

} 
.logo{
width: 112px;
float: left;
margin-top:-30px;
margin-right:px;
}

.carrito{
width: 36px;
margin-top: 10px;
margin-left:px;

}
nav.desk , nav.mob{
	width: 100%;
	background-color: #EBA421;
	height: 60px;
	margin-bottom: 60px;
}

nav.mob{
display: none;
}

nav.desk ul{
	list-style:none;
	width: 75%;
	height: 60px;
	margin:auto;
}

nav.desk ul li{
	width: 15%;
	float: left;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	transition:all 0.5s;
	text-decoration: none;
}

nav ul li a{
	color: #ffff;
	text-decoration: none;
	font-size: 15px;
}

.mh{
margin: auto;
margin-top: 40px;	
width:80%;
height: 1600px;
	

}
.cajas{
float: left;
margin-top: 25px;	
width:32%;
height:350px;
margin-left:10px;
box-sizing: border-box;	

}

.cajas_m{
float: left;
margin-top: 25px;	
width:32%;
height:350px;
margin-left:10px;
box-sizing: border-box;	
	
}
.cajas_c{
float: left;
margin-top: 25px;	
width:35%;
height:350px;
margin-left:10px;
box-sizing: border-box;	


	
	
	
}

.cajas img{	
width:55%;
margin-top:;
display: block;
margin-left: auto;
margin-right: auto;
}
.cajas_m img{	
width:55%;
margin-top:;
display: block;
margin-left: auto;
margin-right: auto;
}

.cajas_c img{	
width:55%;
margin-top:;
display: block;
margin-left: auto;
margin-right: auto;
}
.cajas  h1{	
display: block;
margin-right: auto;
margin-left: auto;	
text-align: center;
font-size: 17px;
color: #EBA421;
}
.cajas_m  h1{	
display: block;
margin-right: auto;
margin-left: auto;	
text-align: center;
font-size: 17px;
color: #EBA421;
}

.cajas_c  h1{	
display: block;
margin-right: auto;
margin-left: auto;	
text-align: center;
font-size: 17px;	
color: #EBA421;
}
.cajas  h2{	
display: block;
margin-right: auto;
margin-left: auto;	
text-align: center;
margin-top: -10px;
color: #EBA421;
}

.cajas_m  h5{	
display: block;
margin-right: auto;
margin-left: auto;	
text-align: center;
margin-top:75px;
color: #EBA421;
}

.cajas_c  h6{	
display: block;
margin-right: auto;
margin-left: auto;	
text-align: center;
margin-top:75px;
color: #EBA421;
font-size: 15px;
}

.abajo{
width:100%;
height: 100px;
background-color:  #F9E1B5;
	
}

.cajas h3{
font-size:30px;	
margin-top:35px;
text-align: center;
font-size: 17px;	
color: #EBA421;
}

.cajas h4{
font-size:30px;	
margin-top:58px;
text-align: center;
font-size:15px;
color: #EBA421;
}
.cajas_c h4{
font-size:30px;	
margin-top:58px;
text-align: center;
font-size: 15px;
color: #EBA421;
}
.precio{
float: left;
margin-top: 35px;
margin-left: 45px;
color: #F23030;
}

.add{
margin-top: 25px;
border-style: none;
background-color: #EBA421;
float: right;
width: 35%;
height: 40px;	
border-radius: 30px;
margin-right: 15px;	
	
}
.add_p{
text-align: center;
margin-top: 12px;
color: #ffff;
}

.centro{
	visibility: visible;
	margin: auto;
	display:flex;
	justify-content: center;
width: 80%;
height: 400px;
	

}


.botonrojo{
margin: auto;
display: flex;
align-content: center;
width: 100%;
height: 60px;
background-color: chartreuse;	
}

.all_m{
margin: auto;

width: 200px;
height: 50px;
background-color: #F23030;	
border-radius: 15px;
}
.all_m p{
text-align: center;
color: #ffff;
margin-top: 34px;
font-size: 16px;	
}

.banner2{
margin: auto;	
width: 70%;
height: 200px;
background-color: #EBA421;
}
.Amarillo{

float: left;
margin-top: 5px;
margin-left: 10px;	
width:98%;
background-color: #F23030;
height: 190px;

}
.papaygaseosa{
float: right;
width:45%;


	
}
.Amarillo p{
float: left;
margin-top: 45px;
margin-left: 30px;
font-size: 35px;
color: #EBA421;


	
}


.papaygaseosa img{
width: 40%;
margin-right: -30px;
	
}

.video{
margin-top: 300px;	
width: 100%;
height: 400px;
 background-color: #F9E1B5;
margin-bottom: 300px;
	
}
.video p{
float: left;
color: #EBA421;

}

.info{
width: 25%;
margin-top: 50px;
margin-left: 280px;
float: left;
font-size: 18px;
color: #EBA421;
text-align:justify-all;
}


.g_v{
float: right;
margin-right: 55px;
margin-top: 45px;
}


#mostrar{
display: none;	
}

footer{
width: 100%;
height: 100px;
background-color:#F9E1B5;
}
.info_f{
margin: auto;
width: 15%;	
/*background-color: aqua;	*/
text-align: center;	
color:#EBA421;

}

.ft{
width: 10%;
	
} 
.gu{
margin: auto;	
width: 10%;
margin-right:46px;
margin-left:28px;
}
mob{
display: none;
}
.h-bt{
display: none;
}

/*@media screen and (max-width: 767px){
	.h-bt{
	
	position: relative;	
	
	}
	nav ul li a{
	color:black;
	text-decoration: none;
	font-size: 15px;
}

	.men{
	margin-top: 10px;
	margin-left: 10px;	
	width: 36px;
	height: 36px;	
	}
	
	.mob ul{
	width: 100%;	
	margin-top:10px;
	background: #F9E1B5;
	position: absolute;	
	color: black;
	left: -700px;	
		
	}
	
	.mob li{
		text-transform: uppercase;
		text-align: center;
		padding: 20px;
		cursor:pointer;
	}
	
	.
	.desk{
	display: none;
	}
	nav.mob{
	display: block;	
	}
	.mh{
	width: 100%;	
	height: 600px;	
	}
	
	.banner1{
	display:block;
	margin-top: 50px;	
	}
	.cajas{
float: left;
margin-top:55px;	
width:48%;
height: 200px;
margin-left:5px;

	
	
}
	.cajas_m{
float: left;
margin-top:45px;	
width:48%;
height: 200px;
margin-left:5px;

	
	
}
	
	.cajas  h1{	
display: block;
margin-right: auto;
margin-left: auto;	
text-align: center;
font-size: 10px;	
}
	.cajas_m  h{	
display: block;
margin-right: auto;
margin-left: auto;	
text-align: center;
font-size: 10px;	
}
	.cajas h3{
	font-size:30px;	
margin-top:15px;
text-align: center;	
font-size:10px;	
	
}
	.precio{
float: left;
margin-top: 35px;
margin-left:25px;
}
	


.cajas_m  h5{	
display: block;
margin-right: auto;
margin-left: auto;	
text-align: center;
margin-top:45px;	
font-size: 10px;	
}


	#oculto{
		display: none;
	}
#mostrar{
display: block;	
}
}

*/